*.iml
*.ipr
*.iws
*.orig
*.rej
*.swo
*.swp
.DS_Store
.classpath
.env
.factorypath
.flattened-pom.xml
.idea
.project
.settings/
.vscode
/.quarkus/cli/plugins/
bin/
nb-configuration.xml
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
target/
